body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-areas:
        "image-box text-box text-box stats-box"
        "image-box text-box text-box info-box"
        "action-box action-box action-box menu-box"
        "input-box input-box input-box menu-box";
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 2fr 2fr 1fr 0.5fr;
    gap: 10px;
    width: 90%;
    height: 90%;
}

.image-box {
    grid-area: image-box;
    background-color: #444;
    padding: 10px;
    border: 2px solid #666;
    overflow-y: auto;
}

.info-box {
    grid-area: info-box;
    background-color: #444;
    padding: 10px;
    border: 2px solid #666;
    overflow-y: auto;
}

.text-box {
    grid-area: text-box;
    background-color: #333;
    padding: 10px;
    border: 2px solid #666;
    overflow-y: auto;
}

.stats-box {
    grid-area: stats-box;
    background-color: #444;
    padding: 10px;
    border: 2px solid #666;
    overflow-y: auto;
}

.input-box {
    grid-area: input-box;
    background-color: #333;
    display: flex; /* Use flex to control child layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally if needed */
    border: 2px solid #666;
    padding: 0; /* Remove padding to avoid space around the input */
}

.input-box form {
    width: 100%;
    height: 100%;
}

.input-box input[type="text"] {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    font-size: 16px; /* Adjust font size as needed */
    padding: 0 10px; /* Padding inside input for better readability */
    border: none; /* Remove default border */
    outline: none; /* Remove blue border on click */
}

.action-box {
    grid-area: action-box;
    background-color: #444;
    padding: 10px;
    border: 2px solid #666;
    display: flex;
    justify-content: space-around;
}

.action-box button {
    background-color: #555;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.action-box button:hover {
    background-color: #777;
}

.red-text {
    color: #c50d0d;
    font-weight: bold;
}
.green-text {
    color: #229522;
    font-weight: bold;
}
.hp-text {
    color: #c50d0d;
    font-weight: bold;
}
.exp-text {
    color: #2e8a2e;
    font-weight: bold;
}
.gold-text {
    color: #c8b920;
    font-weight: bold;
}
.yellow-text {
    color: #edd12a;
    font-weight: normal;
}
.gray-text {
    color: #b6b6b6;
    font-weight: 100;
}
.blue-text {
    color: #51b9dc;
    font-weight: 100;
}

.menu-box {
    grid-area: menu-box;
    background-color: #444;
    padding: 10px;
    border: 2px solid #666;
    display: flex;
    justify-content: space-around;
}



